<!-- style -->
<link href="/public/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/public/css/custom-style.css" rel="stylesheet" type="text/css" />

<!-- govuk_frontend_toolkit js -->
<script type="text/javascript" src="/public/javascripts/vendor/polyfills/bind.js"></script>
<script type="text/javascript" src="/public/javascripts/govuk/details.polyfill.js"></script>
<script type="text/javascript" src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
<script type="text/javascript" src="/public/javascripts/govuk/show-hide-content.js"></script>
<!--<script type="text/javascript" src="/public/javascripts/jquery.min.js" ></script>-->

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script type="text/javascript" src="/public/js/lib/jquery.cookie.js" ></script>
<script type="text/javascript" src="/public/js/lib/dm_lib/uploadForm.js" ></script>
<script type="text/javascript" src="/public/js/lib/dm_lib/ownedDocuments.js" ></script>
<script type="text/javascript" src="/public/js/lib/dm_lib/pageable.js" ></script>

