{% extends "govuk_template.html" %}

{% block page_title %}
  {{content.title | safe}}
{% endblock %}

{% block head %}
  {% include "layouts/head/style.html" %}
{% endblock %}


{% block body_start %}
<!--body_start-->
{% endblock %}


{% block cookie_message %}
<!--cookie_message-->
  <p>{{cookieText | safe }}</p>
{% endblock %}


{% block inside_header %}
<!-- inside_header -->
{% endblock %}

{% block header_class %}with-proposition{% endblock %}

{% block proposition_header %}
<!--proposition_header-->
  {% include "layouts/body/propositional_navigation.html" %}
{% endblock %}

{% block after_header %}
<!--after_header-->
{% endblock %}


{% block content %}
<!--content-->
<main id="content" role="main">
  {% include "layouts/body/phase_banner_alpha.html" %}
  <div class="grid-row">

    <br>
      Welcome {{ idam.forename + " " + idam.surname | default('userNotFound') }}
    </br>
    {% block sub_content %}
    <!--sub_content-->
    {% endblock %}
  </div>
</main>
<!-- content END -->
{% endblock %}


{% block footer_top %}
<!--footer_top-->
{% endblock %}

{% block footer_support_links %}
<!--footer_support_links-->
{% endblock %}

{% block licence_message %}
<!--licence_message-->
{% endblock %}

{% block body_end %}
<!--body_end-->
{% include "layouts/head/scripts.html" %}
<!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}







