{% if someref  == null %}
  <h1 class="heading-large">Case Search</h1>
  <form id="searchForm" data-jwt="{{ jwt }}" method="post" action="{{ dmFindDocumentsByMetadata }}">
    <label for="someref">Ref:</label>
    <input required="true" type="text" id="someref" name="someref" />
    <input class="button" type="submit" value="Search"/>
  </form>
{% else %}

  <br/>
  <h1>Uploads for Ref: {{someref}}</h1>
  <br/>

  <form id="searchForm" data-jwt="{{ jwt }}" method="post" action="{{ dmFindDocumentsByMetadata }}">
    <input required="true" type="hidden" id="someref" name="someref" value="{{someref}}" />
  </form>

{% endif %}

<!--<form id="clearForm" data-jwt="{{ jwt }}" method="post" >-->
  <!--<input class="button" type="submit" value="Clear" action="{{ dmFindDocumentsByCreator }}"/>-->
<!--</form>-->

<table id="documentTable" class="pageable" data-someref="{{someref}}" data-jwt="{{ jwt }}"></table>
<div id="documentsPagination"></div>


<a class="button" href="/upload" role="button">Upload</a>
