<h1 class="heading-large">Upload Document</h1>
<form id="uploadForm" data-jwt="{{ jwt }}" method="post" enctype="multipart/form-data" action="{{ dmUploadUrl }}">
  <input type="hidden" id="classification" name="classification" value="RESTRICTED" />
  <div class="form-group">
    <label class="form-label"  for="metadata[title]">
      Title
      <!--<span class="form-hint">-->
      <!--some text-->
      <!--</span>-->
    </label>
    <input required="true" type="text" id="metadata[title]" name="metadata[title]" />
  </div>

  <div class="form-group">
    <label class="form-label"  for="metadata[someref]">
      Ref
      <!--<span class="form-hint">-->
      <!--some text-->
      <!--</span>-->
    </label>
    <input required="true" type="text" id="metadata[someref]" name="metadata[someref]" />
  </div>

  <div class="form-group">
    <label class="form-label"  for="metadata[userGroup]">
      User Group{% if isUserGroupAorB %}: {{isUserGroupAorB}} {% endif %}
      <!--<span class="form-hint">-->
      <!--some text-->
      <!--</span>-->
    </label>
    {% if isUserGroupAorB == null %}
    <select class="form-control" required="true" id="metadata[userGroup]" name="metadata[userGroup]" >
      <option value="">---Select User Group---</option>
      <option value="{{userGroup.userGroupAName}}">{{userGroup.userGroupAName}}</option>
      <option value="{{userGroup.userGroupBName}}">{{userGroup.userGroupBName}}</option>
      <option value="{{userGroup.userGroupCName}}">{{userGroup.userGroupCName}}</option>
    </select>
    {% else %}
      <input type="hidden" name="metadata[userGroup]" value="{{isUserGroupAorB}}"/>
    {% endif %}

  </div>

  <div class="form-group">
    <label class="form-label" for="files">File:</label>
    <input required="true" type="file" id="files" name="files" />
  </div>
  <input class="button" type="submit" value="Upload"/>

</form>
