//You can add global styles to this file, and also import other style files


@import 'govuk-elements';
@import '../../../node_modules/govuk_template_jinja/assets/stylesheets/govuk-template.css';
@import '../../../node_modules/govuk_template_jinja/assets/stylesheets/fonts.css';


//==================================================================================
//PAGINATION CSS
//==================================================================================

.pager {
  margin-bottom: 1.25em;
  margin-top: .3125em;
}

.pager-items {
  display: none;
}

.pager-prev,
.pager-next {
  margin-right: 10px;
}

@media (min-width: 641px) {
  .pager {
    margin-bottom: 1.05263em;
    margin-top: .26316em;
  }

  .pager-items {
    display: inline;

    li {
      display: inline;
      margin: 0 5px;

      :first-child {
        margin-left: 0;
      }

      :last-child {
        margin-right: 0;
      }
    }
  }

  .pager-prev,
  .pager-next {
    margin-right: 0;
  }

  .pager-prev {
    margin-right: 10px;
  }

  .pager-next {
    margin-left: 10px;
  }

  .pager-controls {
    float: right;
  }
}

//==================================================================================
//TAB CSS
//==================================================================================

$border-colour: #bfc1c3;
$page-colour: #fff;
$panel-colour: #dee0e2;
$black: #0b0c0c;
$unknown-grey: #c9d0d0;

.nav-tabs {
  background: $page-colour;
  padding: 0;
  position: relative;
  zoom: 1;

  ::after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
  }

  ol,
  ul,
  .tabs-nav {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 5;
  }

  li,
  .tabs-nav li {
    float: left;
    font-family: 'nta', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1428571429;
    margin: 0;
    padding: 0;
    text-transform: none;
  }

  li a,
  .tabs-nav li a {
    border: solid 1px $page-colour;
    border-bottom: 0;
    float: left;
    height: 2.25em;
    line-height: 2.25em;
    margin-bottom: -1px;
    padding: 0 1em 0 1em;
    position: relative;
    text-align: center;
    top: 0;
  }

  li a:hover,
  .tabs-nav li a:hover {
    background-color: $border-colour;
  }

  li.ui-tabs-active a,
  .tabs-nav li.ui-tabs-active a {
    background-color: $page-colour;
    border: solid 1px $border-colour;
    border-bottom: solid 1px $page-colour;
    color: $black;
    position: relative;
    text-decoration: none;
    z-index: 5;
  }

  li.active a:hover,
  .tabs-nav li.active a:hover {
    color: inherit;
  }

  li:first-child a,
  .tabs-nav li:first-child a {
    margin-left: 0;
  }
}

@media (min-width: 641px) {
  .nav-tabs li,
  .nav-tabs .tabs-nav li {
    font-size: 16px;
    line-height: 2.25;
  }
}

.tab-content {
  margin: 0 -1em;

  .tab-pane {
    clear: both;
    border-top: solid 1px $border-colour;
    width: auto;
    border-top: 0;
    padding: 0;
  }

  .inner {
    border-bottom: solid 1px $unknown-grey;
    padding: 0 1em 1em;
  }

  h1.visuallyhidden+h2 {
    margin-top: 2em;
  }

  p {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  em {
    font-style: normal;
    font-weight: bold;
  }

  nav {
    margin: 1em -1.375em 0;
  }

}

.js-tab-content {

  .js-heading-tab {
    border-bottom: solid 1px $border-colour;
    list-style: none;
  }

  .js-heading-tab a,
  .js-heading-tab h1 {
    background: $page-colour url('https://assets.publishing.service.gov.uk/static/accordion-arrow-b34c86338a4bcba6cdbd242842a42a8770fa8ce1fe5e4751fbab640e11f2cb85.png') no-repeat 100% -2px;
    display: block;
    font-family: 'nta', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 2.6470588235;
    padding: 0 16px;
    position: relative;
    text-align: left;
    text-decoration: underline;
    text-transform: none;
    top: 0;
  }

  .js-heading-tab a:hover,
  .js-heading-tab h1:hover {
    background-color: $panel-colour;
  }

  .js-heading-tab.ui-tabs-active {
    text-decoration: none;
  }

  .js-heading-tab.ui-tabs-active a,
  .js-heading-tab.ui-tabs-active h1 {
    background: $panel-colour 100% -48px;
    color: $black;
    text-decoration: none;
  }

  .js-heading-tab {
    clear: both;
    margin: 0;
  }

  .js-heading-tab h1 {
    padding: 0;
  }

  .tab-shiftlink {
    font-family: 'nta', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    left: -9999em;
    line-height: 1.25;
    position: absolute;
    text-transform: none;
  }

}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .js-tab-content {
    .js-heading-tab {
      a, h1 {
        background-image: url('https://assets.publishing.service.gov.uk/static/accordion-arrow-2x-571fbd74783219a72efc102f0113190d4393e506cf3bf759bf5ab5e463033f76.png');
        background-size: 45px 90px;
      }
    }

  }
}

@media (min-width: 641px) {
  .js-tab-content {
    .tab-shiftlink {
      font-size: 19px;
      line-height: 1.3157894737;
    }

    .js-heading-tab a,
    .js-heading-tab h1 {
      font-size: 24px;
      line-height: 1.875;
    }
  }
}

@media (max-width: 640px) {
  .js-tab-content {
    .js-tab-container {
      min-height: 0;
    }

    .js-tab-pane {
      border-bottom: solid 1px $border-colour;
    }

    .js-tab-container:first-child {
      border-top: solid 1px $border-colour;
    }

    .report-a-problem-toggle {
      margin-top: 2em;
    }

    .tab-shiftlink {
      left: auto;
      position: static;
    }
  }

  .nav-tabs{
    ol,
    ul,
    .tabs-nav {
      float: none;
      margin: 0 -16px;
    }

    li,
    .tabs-nav li {
      float: none;
    }

    li:first-child a,
    .tabs-nav li:first-child a {
      border-left: 0;
      border-top: 1px solid $border-colour;
    }

    li.ui-tabs-active a,
    .tabs-nav li.ui-tabs-active a {
      border: 0;
      border-bottom: 1px solid $border-colour;
    }

    li a,
    .tabs-nav li a {
      border-bottom: 1px solid $border-colour;
      display: block;
      float: none;
      height: auto;
      line-height: 3.5em;
      margin-bottom: 0;
      padding: 0 16px;
      position: static;
      text-align: left;
    }
  }
}

.transaction .js-tab-content {
  overflow: hidden;
}

.tabs-panel {
  display: none;
}

.ui-tabs-active {
  display: block;
}
